name: Maestro Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-14
    permissions:
      contents: read
    env:
      SIMULATOR: "iPhone 17"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Maestro
        run: |
          curl -Ls "https://get.maestro.mobile.dev" | bash
          echo "${HOME}/.maestro/bin" >> $GITHUB_PATH

      - name: Install Dependencies
        run: .github/scripts/install-dependencies.sh

      - name: Build App for Simulator
        run: .github/scripts/build-for-simulator.sh "$SIMULATOR"

      - name: Setup Simulator and Install App
        run: .github/scripts/setup-simulator.sh "$APP_PATH" "$SIMULATOR" 0

      - name: Run Maestro Tests
        run: maestro test .maestro/app-test.yaml

      - name: Upload Maestro Test Artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: maestro-test-results
          path: |
            ~/.maestro/tests/**/*
            **/before.png
            **/after.png
