name: Build iOS App (Unsigned IPA)

on:
  push:
    branches:
      - main
      - test # TODO remove
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: .github/scripts/install-dependencies.sh

      - name: Set Default Scheme
        run: .github/scripts/set-default-scheme.sh

      - name: Build the app (unsigned)
        run: .github/scripts/build-app-unsigned.sh

      - name: Add Entitlements
        run: .github/scripts/add-entitlements.sh

      - name: Create IPA manually
        run: .github/scripts/create-ipa.sh

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Unsigned-iOS-App
          path: output/MASTestApp-unsigned.ipa
