name: Xcode - Buid

on:
  push:
    branches:
      - main
      - test # TODO remove
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build and Test default scheme using any available iPhone simulator
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: .github/scripts/build-for-testing.sh
